*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  
  body{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5aecc44d-2a1f-4313-8399-98df20908b64/224529cf-4e56-4e10-96f6-63ee4fe82a4b/IT-it-20221114-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }